@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.underline-animate {
  width: 0;
  animation: underlineAnimation 1s forwards;
}
